.round_pairing

  .centre_score
    text-align: center

    .score-badge
      margin-left: 0.6em

  .ids
    display: none
    font-size: 0.6em
    line-height: 1.4em

.match_slip
  min-height: 220px

.current_user_row
  background-color: #bfdaffff
  padding: 10px 0px
  border-radius: 10px
